<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <title>DaPoGo Live Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DaPoGo">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#3b3b3b">
    <!-- Fav- & Apple-Touch-Icons -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
    <!-- non-retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="57x57">
    <!-- non-retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="72x72">
    <!-- non-retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="76x76">
    <!-- retina iPhone pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="114x114">
    <!-- retina iPhone iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/120x120.png').lstrip('/') }}" sizes="120x120">
    <!-- retina iPad pre iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="144x144">
    <!-- retina iPad iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="152x152">
    <!-- retina iPhone 6 iOS 7 -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/180x180.png').lstrip('/') }}" sizes="180x180">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.custom.js').lstrip('/') }}"></script>
    <style type="text/css">
    #donate {
      float: right;
      height: 100%;
      padding-right: 5px;
    }

    #donate form {
      margin: 0 !important;
      padding: 0 !important;
      display: inline-block;
      vertical-align: middle;
      line-height: 14px;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
    setTimeout("initCaptchaUpdate()", 1000);
    // captcha left update function
    var update_captcha_left = function() {
    // get captcha left
    $.get( "http://5.189.184.212/captcha.php", function( data ) {
        // show captcha left
        $('#captcha_left').html('<a href="captcha" target=_blank style="text-decoration: none; color: #346da6; padding: 0;margin: 0;vertical-align: middle;display: inline-block;height: 100%; padding-right: 20%; margin-bottom: 2%; font-size: 80%;font-weight: bold; text-align: center; width: 100%; line-height: 100%;"><span class="label">Captcha:<br>' + data + ' </span></a>');
    });

    }
    setTimeout(function() {
    $(function() {
    // add captcha counters to web page
    // $('.content').prepend('<div class="centered-block"><span>Verbleibende Captcha:</span> <span id="captcha_left">-</span></div>');
    update_captcha_left();
    });
    }, 50);
    // set updating switch to prevent multiple interval calls
    var captcha_updating = false;

    // init captcha update
    function initCaptchaUpdate() {
    // only add one captcha left updater interval
    if (!captcha_updating) {
    captcha_updating = true;
    // update captcha left every 2 sec
    setInterval(update_captcha_left, 2500);
    }
    }
    </script>
  </head>
  <body id="top">
    <div class="wrapper">
      <!-- Header -->
      <header id="header">
        <a href="#nav" style="float: left;"><span class="label">Optionen</span></a>
        <h1><a href="#" style="font-size: 1.5em; font-weight: bolder !important;">DaPoGo</a></h1>
        <div id="donate">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PJPSQJWZNPTNJ">
            <input type="image" src="https://res.cloudinary.com/rapidweavercommunity/image/upload/s--X1en0IBA--/c_fill,h_200,q_jpegmini,w_200/v1/addons/icons/378829427.png" width="50px" height="50px" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
            </form>
        </div>
        <a href="#stats" id="statsToggle" class="statsNav" style="float: right;"><span class="label">Statistik</span></a>
        <div id="captcha_left" class="label" style="float: right; font: inherit; "></div>
      </header>
      <!-- NAV -->
      <nav id="nav">
        <div id="nav-accordion">
          <h3>Icons</h3>
          <div>
            <div class="form-control switch-container">
              <h3>Pokémon</h3>
              <div class="onoffswitch">
                <input id="pokemon-switch" type="checkbox" name="pokemon-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="pokemon-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container">
              <h3>Arenen</h3>
              <div class="onoffswitch">
                <input id="gyms-switch" type="checkbox" name="gyms-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="gyms-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" id="gym-sidebar-wrapper" style="display:none">
              <h3>Arena-Seitenleiste</h3>
              <div class="onoffswitch">
                <input id="gym-sidebar-switch" type="checkbox" name="gym-sidebar-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="gym-sidebar-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div id="gyms-filter-wrapper" style="display:none">
              <div class="form-control switch-container" id="team-gyms-only-wrapper">
                <h3>Team</h3>
                <select name="team-gyms-filter-switch" id="team-gyms-only-switch">
                  <option value="0">Alle</option>
                  <option value="1">Weisheit</option>
                  <option value="2">Wagemut</option>
                  <option value="3">Intuition</option>
                </select>
              </div>
              <div class="form-control switch-container" id="open-gyms-only-wrapper">
                <h3>Freier Platz</h3>
                <select name="open-gyms-only-switch" id="open-gyms-only-switch">
                  <option value="0">Alle</option>
                  <option value="1">Feier Platz</option>
                  <option value="2">&lt;= 1000 Prestige bis ein Platz frei wird</option>
                  <option value="3">&lt;= 2500 Prestige bis ein Platz frei wird</option>
                  <option value="4">&lt;= 5000 Prestige bis ein Platz frei wird</option>
                </select>
              </div>
              <div class="form-control switch-container" id="min-level-gyms-filter-wrapper">
                <h3>Mindestlevel</h3>
                <select name="min-level-gyms-filter-switch" id="min-level-gyms-filter-switch">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="form-control switch-container" id="max-level-gyms-filter-wrapper">
                <h3>Höchstlevel</h3>
                <select name="max-level-gyms-filter-switch" id="max-level-gyms-filter-switch">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
               <div class="form-control switch-container" id="last-update-gyms-wrapper">
                 <h3>Zuletzt gescannt</h3>
                <select name="last-update-gyms-switch" id="last-update-gyms-switch">
                  <option value="0">Alle</option>
                  <option value="1">Letzte Stunde</option>
                  <option value="6">Letzte 6 Stunden</option>
                  <option value="12">Letzte 12 Stunden</option>
                  <option value="24">Letzte 24 Stunden</option>
                  <option value="168">Letzte Woche</option>
                </select>
              </div>
            </div>
            <div class="form-control switch-container">
              <h3>Pokéstops</h3>
              <div class="onoffswitch">
                <input id="pokestops-switch" type="checkbox" name="pokestops-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="pokestops-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" id="lured-pokestops-only-wrapper" style="display:none">
              <select name="lured-pokestops-only-switch" id="lured-pokestops-only-switch">
                <option value="0">Alle</option>
                <option value="1">mit Lockmodul</option>
              </select>
            </div>
            <!-- <div class="form-control switch-container">
              <h3>Scanned Locations</h3>
              <div class="onoffswitch">
                <input id="scanned-switch" type="checkbox" name="scanned-switch" class="onoffswitch-checkbox">
                <label class="onoffswitch-label" for="scanned-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div> -->
            <div class="form-control switch-container">
              <h3>Spawnpunkte</h3>
              <div class="onoffswitch">
                <input id="spawnpoints-switch" type="checkbox" name="spawnpoints-switch" class="onoffswitch-checkbox">
                <label class="onoffswitch-label" for="spawnpoints-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <!-- <div class="form-control switch-container">
              <h3>Ranges</h3>
              <div class="onoffswitch">
                <input id="ranges-switch" type="checkbox" name="ranges-switch" class="onoffswitch-checkbox">
                <label class="onoffswitch-label" for="ranges-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div> -->
            <div class="form-control switch-container">
              <h3>Timer</h3>
              <div class="onoffswitch">
                <input id="timer-switch" type="checkbox" name="timer-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="timer-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control">
              <label for="exclude-pokemon">
              <h3>Pokemon verstecken</h3>
              <div style="max-height:165px;overflow-y:auto">
                <select id="exclude-pokemon" multiple="multiple"></select>
              </div>
              </label>
            </div>
          </div>

          <!-- <h3>Location &amp; Search Settings</h3>
          <div>
            <div class="form-control switch-container" style="display:{{is_fixed}}" >
              <label for="next-location">
              <h3>Change search location</h3>
              <input id="next-location" type="text" name="next-location" placeholder="Change search location">
              </label>
            </div>
            <div class="form-control switch-container" style="display:{{is_fixed}}" >
              <h3>Lock search marker</h3>
              <div class="onoffswitch">
                <input id="lock-marker-switch" type="checkbox" name="lock-marker-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="lock-marker-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" style="display:{{is_fixed}}" >
              <h3>Search follows me</h3>
              <div class="onoffswitch">
                <input id="geoloc-switch" type="checkbox" name="geoloc-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="geoloc-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" >
              <h3>Start map at me</h3>
              <div class="onoffswitch">
                <input id="start-at-user-location-switch" type="checkbox" name="start-at-user-location-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="start-at-user-location-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" style="display:{{search_control}}">
              <h3>Search</h3>
              <div class="onoffswitch">
                <input id="search-switch" type="checkbox" name="search-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="search-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container">
              <h3>Follow me</h3>
              <div class="onoffswitch">
                <input id="follow-my-location-switch" type="checkbox" name="follow-my-location-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="follow-my-location-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="form-control switch-container" style="display:{{show_scan}}">
              <h3>Scan here button</h3>
              <div class="onoffswitch">
                <input id="scan-here-switch" type="checkbox" name="scan-here-switch" class="onoffswitch-checkbox" checked/>
                <label class="onoffswitch-label" for="scan-here-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
          </div> -->

          <h3>Benachrichtigungen</h3>
          <div>
            <div class="form-control">
              <label for="notify-pokemon">
                <h3>Über Pokémon benachrichtigen</h3>
                <div style="max-height:165px;overflow-y:auto">
                  <select id="notify-pokemon" multiple="multiple"></select>
                </div>
              </label>
            </div>
            <div class="form-control">
              <label for="notify-perfection">
                <h3>Über IV benachrichtigen</h3>
                <input id="notify-perfection" type="text" name="notify-perfection" placeholder="Minimum perfection %"/>
              </label>
            </div>
            <div class="form-control switch-container">
              <h3>mit Ton?</h3>
              <div class="onoffswitch">
                <input id="sound-switch" type="checkbox" name="sound-switch" class="onoffswitch-checkbox" checked>
                <label class="onoffswitch-label" for="sound-switch">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
                </label>
              </div>
            </div>
          </div>

          <h3>Aussehen</h3>
          <div>
            <div class="form-control switch-container">
              <h3>Kartenstil</h3>
              <select id="map-style"></select>
            </div>
            <div class="form-control switch-container">
              <h3>Icon Größe</h3>
              <select name="pokemon-icon-size" id="pokemon-icon-size">
                <option value="-8">Small</option>
                <option value="0">Normal</option>
                <option value="10">Large</option>
                <option value="20">X-Large</option>
              </select>
            </div>
            <div class="form-control switch-container">
              <h3>Scan-Marker</h3>
              <select name="iconmarker-style" id="iconmarker-style"></select>
            </div>
            <div class="form-control switch-container">
              <h3>Arena Icons</h3>
              <select name="gym-marker-style" id="gym-marker-style">
                <option value='ingame'>PoGo</option>
                <option value='shield'>Schild</option>
              </select>
            </div>
            <div class="form-control switch-container">
              <h3>Positions-Marker</h3>
              <select name="locationmarker-style" id="locationmarker-style"></select>
            </div>
          </div>
        </div>
      </nav>
      <nav id="stats">
        <div class="switch-container">
          <div class="switch-container">
            <div><center><a href="stats">Vollständige Statistik</a></center></div>
          </div>
          <div class="switch-container">
            <center><h1 id="stats-ldg-label">Laden...</h1></center>
          </div>
          <div class="stats-label-container">
            <center><h1 id="stats-pkmn-label"></h1></center>
          </div>
          <div id="pokemonList" style="color: black;">
            <table id="pokemonList_table" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Icon</th> <th>Name</th> <th>Menge</th> <th>%</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="pokeStatStatus" style="color: black;"></div>
          </div>
          <div class="stats-label-container">
            <center><h1 id="stats-gym-label"></h1></center>
          </div>
          <div id="arenaList" style="color: black;"></div>
          <div class="stats-label-container">
            <center><h1 id="stats-pkstop-label"></h1></center>
          </div>
          <div id="pokestopList" style="color: black;"></div>
        </div>
      </nav>
      <nav id="gym-details">
        <center><h1>Laden...</h1></center>
      </nav>
      <div id="map"></div>
      <div class="fab" id="scan-here" style="display:none"></div>
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.9.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/classie.js').lstrip('/') }}"></script>
    <script>
      var centerLat = {{lat}};
      var centerLng = {{lng}};
    </script>
    <script src="{{ url_for('static', filename='dist/js/map.common.min.js').lstrip('/') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/map.min.js').lstrip('/') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/stats.min.js').lstrip('/') }}"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&amp;callback=initMap&amp;libraries=places,geometry"></script>
    <script defer src="{{ url_for('static', filename='dist/js/label.min.js').lstrip('/') }}"></script>
  </body>
</html>
